<form method="POST" action="/api/search">
    <H2>Search</H2>
    Page : <input type="text" name="page"><br><br>
    Per Page : <input type="text" name="perpage"><br><br>
    Borough : <input type="text" name="borough"><br><br>
    <input type="submit" value="Search">
</form>